html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 95%;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .contenedor{
        max-width: 110rem;
    }
}
img{
    max-width: 100%;
}
.separador{
    width: 5rem;
}
h2{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h3{
    font-size: 1.8rem;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
.boton{
    display: block;
    color: #ffffff;
    background-color: #fe4918;
    padding: 1rem 4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}
@media(min-width: 768px) {
    .ver-todas{
        display: flex;
        justify-content: flex-end;
    }
    .boton{
        display: inline-block;
        transition: all .3s ease;
    }
    .boton:hover{
        background-color: #e33000;
    }
}
.border{
    border-bottom: 1px solid #000000;
}

/* Header */
.banner{
    background-image: url(../img/encabezado.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60vh;
}
.contenedor-header{
    color: #ffffff;
}
.redes-sociales{
    padding: 2rem;
    text-align: center;
}
.redes-sociales a{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 1rem;
}
.redes-sociales a:last-of-type{
    margin-right: 0;
}
.informacion-evento{
    text-align: center;
}
@media(min-width: 768px) {
    .informacion-evento{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
.informacion-evento p{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
@media(min-width: 768px) {
    .informacion-evento p{
        display: inline;
        font-size: 2rem;
        margin: 0;
    }
}
.informacion-evento p i{
    color: #fe4918;
    margin-right: 1rem;
    font-size: 3rem;
}
.titulo{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 10vw;
    margin: 0;
}
.slogan{
    text-align: center;
    font-size: 1.5rem;
}
@media(min-width: 768px) {
    .slogan{
        font-size: 2rem;
    }
}

/* Navegacion */
.barra-navegacion{
    background-color: #45474E;
    padding: 2rem 0;
}
.contenido-barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 80%;
}
.navegacion-principal{
    display: none;
    flex: 0 0 calc(100%);
}
@media(min-width: 768px) {
    .logo{
        flex-basis: calc(50% - 1rem);
    }
    .logo img{
        width: 70%;
    }
    .navegacion-principal{
        display: flex;
        flex-basis: calc(50% - 1rem);
        justify-content: flex-end;
        align-items: center;
    }
}
.navegacion-principal a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    text-align: center;
}
@media(min-width: 768px) {
    .navegacion-principal a{
        display: inline;
        margin-right: 2.5rem;
        padding: 1rem;
    }
    .navegacion-principal a:hover{
        background-color: #fe4918;
    }
    .navegacion-principal a:last-of-type{
        margin-right: 0;
        color: #fe4918;
        border: 1px solid #fe4918;
    }
    .navegacion-principal a:last-of-type:hover{
        color: #ffffff;
    }
}

/* Menú Mobil */
.menu-mobil{
    display: block;
    width: 4rem;
}
@media(min-width: 768px) {
    .menu-mobil{
        display: none;
    }
}
.menu-mobil span{
    height: .6rem;
    margin-bottom: .7rem;
    background-color: #ffffff;
    display: block;
}
.menu-mobil span:last-of-type{
    margin-bottom: 0;
}

/* Información */
.informacion{
    text-align: center;
    padding: 5rem 0;
}
.informacion h2{
    text-transform: uppercase;
}
.informacion p{
    line-height: 2;
}

/* Talleres */
.programa{
    position: relative;
}
.contenedor-video{
    max-width: 100%;
    overflow-x: hidden;
}
.contenido-programa{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.programa-evento{
    background-color: rgba(255,255,255,.8);
    padding: 1.5rem;
    margin-top: 8rem;
}
.titulo-programa{
    text-align: center;
    margin-bottom: 2rem;
}
@media(min-width: 768px) {
    .programa-evento{
        width: 50%;
    }
}
.programa-evento h2{
    text-transform: uppercase;
    text-align: center;
}
.menu-programa{
    width: 100%;
    border-bottom: 1px solid #fe4918;
    padding-bottom: 1rem;
}
@media(min-width: 768px) {
    .menu-programa{
        display: flex;
        justify-content: space-evenly;
    }
}
.menu-programa a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.menu-programa a i{
    color: #fe4918;
    font-size: 2.2rem;
    margin-right: .5rem;
}
/* Detalle evento */
.detalle-evento{
    padding: 1.5rem;
}
.detalle-evento:last-of-type{
    border-bottom: none;
    margin-bottom: 1rem;
}
.detalle-evento h3{
    color: #fe4918;
}
.detalle-evento p{
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.detalle-evento p i{
    color: #fe4918;
    font-size: 2.2rem;
    margin-right: .5rem;
}

/* Ponentes */
.invitados{
    padding: 5rem 0;
}
.invitados h2{
    text-transform: uppercase;
}
.titulo-invitados{
    text-align: center;
}
.ponentes{
    margin-top: 2rem;
}
.ponentes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ponente{
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;
    position: relative;
}
@media(min-width: 768px) {
    .ponente{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.ponente img{
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .5s ease-in-out;
}
.ponente:hover img{
    filter: grayscale(0);
}
.ponente p{
    position: absolute;
    bottom: .2rem;
    left: 0;
    color: #fe4918;
    background-color: rgba(0, 0, 0, .6);
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 100%;
    margin: 0;
    padding: 1.5rem; 
}

/* Contador evento */
.contador{
    background-image: url(../img/bg-resumen.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 3rem 0;
}
@media(min-width: 768px) {
    .contador{
        padding: 8rem 0;
    }
}
.resumen-evento{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.resumen-evento span{
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 2rem;
}
@media(min-width: 768px) {
    .resumen-evento span{
        flex: 0 0 calc(25% - 1rem);
        margin-bottom: 0;
    }
}
.numero{
    color: #fe4918;
    font-size: 5rem;
    margin: 0 0 1rem 0;
}