html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 95%;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .contenedor{
        max-width: 110rem;
    }
}
img{
    max-width: 100%;
}
.separador{
    width: 5rem;
}
h2{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h3{
    font-size: 1.8rem;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
h4{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}
p{
    margin: 0;
    font-size: 1rem;
}
label{
    font-size: 1.3rem;
}
.boton{
    display: block;
    color: #ffffff;
    background-color: #fe4918;
    padding: 1rem 4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}
@media(min-width: 768px) {
    .ver-todas{
        display: flex;
        justify-content: flex-end;
    }
    .boton{
        display: inline-block;
        transition: all .3s ease;
    }
    .boton:hover{
        background-color: #e33000;
    }
}
.border{
    border-bottom: 1px solid #000000;
}

/* Lettering */
.titulo span{
    position: relative;
    text-shadow: 0 0 3rem black;
}
/*
@media(min-width: 992px) {
    .char1{
        top: 2rem; right: 2rem;
    }
}
*/

/* Header */
.banner{
    background-image: url(../img/encabezado.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60vh;
}
.contenedor-header{
    color: #ffffff;
}
.redes-sociales{
    padding: 2rem;
    text-align: center;
}
.redes-sociales a{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 1rem;
}
.redes-sociales a:last-of-type{
    margin-right: 0;
}
.informacion-evento{
    text-align: center;
}
@media(min-width: 768px) {
    .informacion-evento{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
.informacion-evento p{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
@media(min-width: 768px) {
    .informacion-evento p{
        display: inline;
        font-size: 2rem;
        margin: 0;
    }
}
.informacion-evento p i{
    color: #fe4918;
    margin-right: 1rem;
    font-size: 3rem;
}
.titulo{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 10vw;
    margin: 0;
}
.slogan{
    text-align: center;
    font-size: 1.5rem;
}
@media(min-width: 768px) {
    .slogan{
        font-size: 2rem;
    }
}

/* Navegacion */
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.barra-navegacion{
    background-color: #45474E;
    padding: 1rem 0;
}
.contenido-barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 80%;
}
.navegacion-principal{
    display: none;
    flex: 0 0 calc(100%);
}
@media(min-width: 768px) {
    .logo{
        flex-basis: calc(50% - 1rem);
    }
    .logo img{
        width: 70%;
    }
    .navegacion-principal{
        display: flex;
        flex-basis: calc(50% - 1rem);
        justify-content: flex-end;
        align-items: center;
    }
}
.navegacion-principal a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    text-align: center;
}
@media(min-width: 768px) {
    .navegacion-principal a{
        display: inline;
        margin-right: 2.5rem;
        padding: 1rem;
    }
    .navegacion-principal a:hover{
        background-color: #fe4918;
    }
    .navegacion-principal a:last-of-type{
        margin-right: 0;
        color: #fe4918;
        border: 1px solid #fe4918;
    }
    .navegacion-principal a:last-of-type:hover{
        color: #ffffff;
    }
}

/* Menú Mobil */
.menu-mobil{
    display: block;
    width: 4rem;
}
@media(min-width: 768px) {
    .menu-mobil{
        display: none;
    }
}
.menu-mobil span{
    height: .6rem;
    margin-bottom: .7rem;
    background-color: #ffffff;
    display: block;
}
.menu-mobil span:last-of-type{
    margin-bottom: 0;
}

/* Información */
.informacion{
    text-align: center;
    padding: 5rem 0;
}
.informacion h2{
    text-transform: uppercase;
}
.informacion p{
    line-height: 2;
    margin-top: 2rem;
}

/* Talleres */
.programa{
    position: relative;
}
.contenedor-video{
    max-width: 100%;
    overflow-x: hidden;
}
.contenido-programa{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.programa-evento{
    background-color: rgba(255,255,255,.8);
    padding: 1.5rem;
    margin-top: 8rem;
}
.titulo-programa{
    text-align: center;
    margin-bottom: 2rem;
}
@media(min-width: 768px) {
    .programa-evento{
        width: 50%;
    }
}
.programa-evento h2{
    text-transform: uppercase;
    text-align: center;
}
.menu-programa{
    width: 100%;
    border-bottom: 1px solid #fe4918;
}
@media(min-width: 768px) {
    .menu-programa{
        display: flex;
        justify-content: space-evenly;
    }
}
.menu-programa a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
    position: relative;
}
.menu-programa a.activo::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 2rem;
    width: 3rem;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -2rem;
}
.menu-programa a i{
    color: #fe4918;
    font-size: 2.2rem;
    margin-right: .5rem;
}
/* Detalle evento */
.ocultar{
    display: none;
}
.detalle-evento{
    padding: 1.5rem;
}
.detalle-evento:last-of-type{
    border-bottom: none;
    margin-bottom: 1rem;
}
.detalle-evento h3{
    color: #fe4918;
    margin-bottom: 1rem;
}
.detalle-evento p{
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.detalle-evento p i{
    color: #fe4918;
    font-size: 2.2rem;
    margin-right: .5rem;
}

/* Ponentes */
.invitados{
    padding: 5rem 0;
}
.invitados h2{
    text-transform: uppercase;
}
.titulo-invitados{
    text-align: center;
}
.ponentes{
    margin-top: 2rem;
}
.ponentes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ponente{
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;
    position: relative;
}
@media(min-width: 768px) {
    .ponente{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.ponente img{
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .5s ease-in-out;
}
.ponente:hover img{
    filter: grayscale(0);
}
.ponente p{
    position: absolute;
    bottom: .2rem;
    left: 0;
    color: #fe4918;
    background-color: rgba(0, 0, 0, .6);
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 100%;
    margin: 0;
    padding: 1.5rem; 
}

/* Contador evento */
.contador{
    background-image: url(../img/bg-resumen.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 3rem 0;
}
@media(min-width: 768px) {
    .contador{
        padding: 8rem 0;
    }
}
.resumen-evento{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.resumen-evento span{
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 2rem;
}
@media(min-width: 768px) {
    .resumen-evento span{
        flex: 0 0 calc(25% - 1rem);
        margin-bottom: 0;
    }
}
.numero{
    color: #fe4918;
    font-size: 5rem;
    margin: 0 0 1rem 0;
}

/* Precios */
.precios{
    padding: 5rem 0;
}
.titulo-precios{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
@media(min-width: 768px) {
    .tarjetas-precios{
        display: flex;
        justify-content: space-between;
    }
}
.tarjeta{
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    transition: all .5s ease;
}
.tarjeta:hover{
    transform: scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0 0 1rem #666;
}
@media(min-width: 768px) {
    .tarjeta{
        flex: 0 0 calc(31% - 1rem);
        margin-bottom: 0;
        padding: 4rem 0;
    }
}
.tarjeta h3{
    color: #fe4918;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.tarjeta p{
    color: #868686;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.tarjeta p i{
    color: green;
    margin-right: 1rem;
}
.tarjeta .numero{
    color: #000000;
    font-weight: 700;
    font-size: 5rem;
}

/* Mapa */
.mapa{
    height: 30rem;
}

/* Testimoniales */
.testimoniales{
    padding: 5rem 0;
}
.titulo-testimoniales{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
@media(min-width: 768px) {
    .tarjetas-testimoniales{
        display: flex;
        justify-content: space-between;
    }
}
.testimonial{
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 4rem 0;
    margin-bottom: 2rem;
    position: relative;
}
@media(min-width: 768px) {
    .testimonial{
        flex: 0 0 calc(31% - 1rem);
        margin-bottom: 0;
        padding: 2rem 0;
    }
}
.testimonial blockquote{
    margin: 0;
}
.testimonial p{
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    padding: 0 3rem 0 5rem; 
}
.testimonial p::before{
    content: '\201c';
    position: absolute;
    left: 1rem;
    top: .5rem;
    font-size: 8rem;
    color: #fe4918;
}
.testimonial footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem 0 3rem;
}
.testimonial footer img{
    width: 30%;
    border-radius: 50%;
}
.testimonial footer cite{
    width: 70%;
    margin-left: 1rem;
    line-height: 2;
    color: #fe4918;
    font-size: 1.1rem;
}
.testimonial footer cite span{
    color: #868686;
    display: block;
}

/* Newsletter */
.newsletter{
    background-image: url(../img/bg-newsletter.jpg);
    background-position: center center;
    background-size: cover;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
}
.newsletter::after{
    content: '';
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenido-newsletter{
    color: #ffffff;
    text-align: center;
    z-index: 1;
}
.contenido-newsletter p{
    font-size: 2rem;
}
.contenido-newsletter h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.boton-registro{
    background-color: transparent;
    border: 2px solid #ffffff;
}

/* Cuenta regresiva */
.cuenta-regresiva{
    padding: 5rem 0;
}
.titulo-cuenta{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.tiempo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.tiempo span{
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 2rem;
    color: #868686;
}
@media(min-width: 768px) {
    .tiempo span{
        flex: 0 0 calc(25% - 1rem);
        margin-bottom: 0;
    }
}
.numero{
    color: #fe4918;
    font-size: 5rem;
    margin: 0 0 1rem 0;
}

/* Footer */
.site-footer{
    background-color: #3C3C3B;
}
.contenido-footer{
    color: #ffffff;
    padding: 3rem 0;
    font-family: 'Oswald', sans-serif;
}
.info-footer{
    margin-bottom: 3rem;
}
.info-footer:last-of-type{
    margin-bottom: 0;
}
@media(min-width: 768px) {
    .contenido-footer{
        display: flex;
        justify-content: space-between;
    }
    .info-footer{
        flex: 0 0 calc(33.3% - 2rem);
        margin-bottom: 0;
    }
}
.info-footer h3{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
}
.info-footer p{
    font-size: 1.2rem;
}
.info-footer h3 span{
    color: #fe4918;
}
.redes-sociales-footer{
    padding: 0 2rem 2rem 0;
}
.redes-sociales-footer a{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 1rem;
}
.redes-sociales-footer a:last-of-type{
    margin-right: 0;
}
.copyright{
    background-color: #262626;
    text-align: center;
    color: #ffffff;
    padding: 2rem;
    font-size: 1.4rem;
}

/* Registro */
.caja{
    background-color: white;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin: 1rem;
}
.seccion-registro{
    padding: 5rem 0;
}
.titulo-registro{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
form.registro h3{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0 0 0;
    color: #fe4918;
}
form.registro label{
    margin-bottom: .5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.campo{
    padding: 2rem;
}
@media(min-width: 768px) {
    .info-usuario{
        display: flex;
        justify-content: space-between;
    }
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.error{
    display: none;
    font-size: 1.5rem;
    color: #fe4918;
    text-align: center;
}
.paquetes .tarjetas-precios{
    margin: 2rem 0 0 0;
}
.paquetes .tarjeta:hover{
    transform: none;
    box-shadow: none;
}
.paquetes .tarjeta input{
    clear: both;
    width: 10rem;
    margin: 1rem auto 0 auto;
    display: block;

}
.contenido-dia{
    padding: 2rem;
    display: none;
}
.info-talleres p{
    font-size: 1.4rem;
    font-weight: bold;
}
.info-talleres div label{
    display: block;
    margin: 1rem 0;
}
.info-talleres div label time{
    color: #fe4918;
    font-weight: bold;
}
.info-talleres div input{
    margin-right: 1rem;
}
@media(min-width: 768px) {
    .info-talleres{
        display: flex;
        justify-content: space-between;
    }
    .info-talleres div{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.resumen-pago{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.resumen-pago > div{
    flex: 0 0 calc(50% - 1rem);
}
.resumen-pago p{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.extras .orden{
    margin-bottom: 1rem;
}
.extras .orden input{
    display: block;
    margin-top: 1rem;
}
.orden select{
    margin: .5rem 0 2rem 0;
}
.total{
    text-align: center;
}
.titulo-total{
    margin-top: 2rem;
}
.lista-productos{
    display: none;
    background-color: #e1e1e1;
    padding: 2rem;
    font-size: 1.4rem;
    text-align: left;
}
.suma-total{
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fe4918;
}

/* Conferencia */
.navegacion-principal .activo{
    border-bottom: 2px solid #fe4918;
}
.seccion-galeria{
    padding: 5rem 0;
}
.titulo-galeria{
    text-align: center;
    text-transform: uppercase;
}
.galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.galeria a{
    flex: 0 0 calc(33.3% - 1rem);
    margin-bottom: 1rem;
}
@media(min-width: 768px) {
    .galeria{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .galeria a{
        flex: 0 0 calc(20% - .5rem);
        margin-bottom: 1rem;
    }
}